/*Remove default styling*/
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

/*default styling changes end*/

html {
    text-align: center;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}